html {
  width: 100%;
  background-color: aliceblue;
}
.App-header {
  width: 100%;
}
.nameContainer {
  width: 100%;
}

li {
  list-style: none;
  border: 2px solid pink;
  border-radius: 8px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid pink;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.container {
  border: 5px solid pink;
  margin-top: 200px;
  margin-left: 350px;
  width: 900px;
}
.f {
  background-color: pink;
  margin: 4px;
}
.m {
  background-color: lightblue;
}
